{% load static %}

<div class="bg-primary-subtle col-10 offset-1 rounded ">
    <div class="btn-group col-2 offset-5 justify-content-center my-1 " role="group" aria-label="Basic radio toggle button group" >
        
            <input type="radio"  class="btn-check" name="btnradio" onclick="btnfun();" id="btnradio1" autocomplete="off" >
            <label class="btn btn-outline-secondary border border-0 pt-2 rounded-circle  " for="btnradio1" style="font-size: small;padding-left: 10%; padding-right: 10%;">
                <img  src= '{% static "images/aboutme.png" %}' class="img-fluid mt-2" alt="#" style="height:50%; width:100%;"> AboutMe
            </label>
        
        
        <input type="radio" class="btn-check" name="btnradio" onclick="btnfun();" id="btnradio2" autocomplete="off">
        <label class="btn btn-outline-secondary border border-0 pt-2 rounded-circle " for="btnradio2" style="font-size: small;padding-left: 10%; padding-right: 10%;">
            <img  src= '{% static "images/experience1.png" %}' class="img-fluid mt-2" alt="#" style="height:50%; width:100%;">
            Experience
        </label>
        
    
        <input type="radio" class="btn-check" name="btnradio" onclick="btnfun();" id="btnradio3" autocomplete="off">
        <label class="btn btn-outline-secondary border border-0  pt-2 rounded-circle " for="btnradio3" style="font-size: small;padding-left: 12%; padding-right: 12%;">
            <img  src= '{% static "images/projects.png" %}' class="img-fluid mt-2" alt="#" style="height:50%; width:100%; ">
            Projects
        </label>

        <input type="radio" class="btn-check" name="btnradio" onclick="btnfun();" id="btnradio4" autocomplete="off">
        <label class="btn btn-outline-secondary border border-0  pt-2 rounded-circle  " for="btnradio4" style="font-size: small;padding-left: 10%; padding-right: 10%;">
            <img  src= '{% static "images/education.png" %}' class="img-fluid mt-2" alt="#" style="height:50%; width:100%; ">
            Education    
        </label>

        <input type="radio" class="btn-check" name="btnradio" onclick="btnfun();" id="btnradio5" autocomplete="off">
        <label class="btn btn-outline-secondary border border-0 pt-2  rounded-circle  " for="btnradio5" style="font-size: small; padding-left: 15%; padding-right: 15%;">
            <img  src= '{% static "images/skillsa.png" %}' class="img-fluid mt-2" alt="#" style="height:50%; width:100%; ">
            Skills
        </label>
        
        
    </div>
</div>

