{% extends 'base.html' %} 
{% load bootstrap4 %}
{% load static %}

{% block head %}
<style>
    body{
        background: rgb(236, 237, 255);
    }
    
    .formtextarea{
        resize: both;   
        height: 75px;
        width: 300px;    
    }
    .formtitle{   
        height: 20px;
        width:300px;
    }
    .formdemo{
        height: 10px;
        width: 300px;
        margin-bottom: 10px;
    }
    @media(max-width:768px){
        .desktop{
            display: none;
        }
        .mobile{
            display: block;
        }

    }
    @media(min-width:769px){
        .desktop{
            display: block;
        }
        .mobile{
            display: none;
        }
    }
    footer{
        display: none;
    }
    hr{
        display: none;
    }
</style>
{% endblock %}



{% block body %}
<body >
    

<div class="desktop">
    <form method="POST" action="" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="col-4 offset-4 mt-3 ps-5">
            <h3 class="text-center me-5 pe-5">Upload here!</h3>
            {% bootstrap_form form %}
            <div class=" mx-5 px-2 ">
                <button type="submit" class="btn btn-outline-success me-3" >Submit</button>
                <a href="{% url 'resume:projects' %}"><button type="button" class="btn btn-outline-danger">Cancel</button> </a> 
            </div>
        </div>
    </form>  
</div>
    
    <!-- mobile -->
    
<div class="mobile">
    <form method="POST" action="" enctype="multipart/form-data">
        {% csrf_token %}
        <div class=" col  mt-3 ">
            <h3 class="ms-5 ps-3 ">Upload here!</h3>
            {% bootstrap_form form %}
            <div class=" mx-5 px-2 ">
                <button type="submit" class="btn btn-outline-success m-2 me-3" >Submit</button>
                <a href="{% url 'resume:projects' %}"><button type="button" class="m-2 btn btn-outline-danger">Cancel</button> </a> 
            </div>
        </div>
    </form>
</div>






    



<script>
    let a = document.getElementById("btnradio3");
        a.checked = true;
        // let c =document.getElementById("spinner").style.visibility = "hidden";
        
      
</script>
</body>
{% endblock %}
    
    