{% extends 'base.html' %} 
{% load static %}

{% block head %}
<style>
    @media(max-width:720px){
        .mobile{
            display: block;
        }
        .desktop{
            display: none;
        }
    }
    @media(min-width:721px){
        .mobile{
            display: none;
        }
        .desktop{
            display: block;
        }
    }
</style>

{% endblock %}


{% block body %}
<div class="desktop">
    <div class="container-fluid pt-4  offset-1">
    <h1>Education </h1>
        <div class="col-11 offset-1  ">
            <div class="d-flex flex-row my-5 py-5" style="height:auto;width:auto;">
                <div class="col-2 border  border-secondary rounded-circle  align-self-center bg-primary-subtle" style="height: auto; width: 130px; ">
                <p class=" text-center py-2 my-5 ">
                    <strong>2020</strong></p>
                </div>

                <div class="col-4 align-self-center">
                    <hr >
                </div>

                <div class="col-5 p-3 border  border-secondary align-self-center bg-primary-subtle" style="height: auto; width: auto;" >
                    <p>
                        University College of Engineering, Arni(Anna University) <br>
                        Tiruvannamalai, Tamilnadu. <br>
                        B.E., - Computer Science and Engineering <br>
                        6.33 CGPA
                    </p>
                    

                </div>
            </div>

            <div class="d-flex flex-row my-5 py-5" style="height:auto;width:auto;">

                <div class="col-5 p-3 pe-5   border  border-secondary align-self-center bg-primary-subtle" style="height: auto; width: auto;" >
                    <p class="pe-5 me-4" >
                        K.C.Sankaralinga Nadar Hr. Sec. School <br>
                        Chennai, Tamilnadu. <br>
                        H.S.L.C., <br>
                        84.9%
                    </p>
                </div>
                
                <div class="col-4 align-self-center">
                    <hr >
                </div>

                <div class="col-2 border  border-secondary rounded-circle  align-self-center bg-primary-subtle" style="height: auto; width: 130px;">
                    <p class=" text-center py-2 my-5 ">
                        <strong>2016</strong></p>
                </div>

            </div>

            <div class="d-flex flex-row my-5 py-5" style="height:auto;width:auto;">
                <div class="col-2 border  border-secondary rounded-circle  align-self-center bg-primary-subtle" style="height: auto; width: 130px;">
                <p class=" text-center py-2 my-5 ">
                    <strong>2014</strong> </p>
                </div>

                <div class="col-4 align-self-center">
                    <hr >
                </div>

                <div class="col-5 border p-3  pe-5  border-secondary align-self-center bg-primary-subtle" style="height: auto; width: auto;" >
                    <p class="me-5 pe-5 ">
                    Kamaraj Matriculation Hr. Sec. School <br>
                    Chennai, Tamilnadu. <br>
                    S.S.L.C., <br>
                    90%
                    </p>

                </div>
            </div>

        </div>
    </div>
</div>

<!-- mobile -->
<div class="mobile">
    <div class="vstack  pt-4 ">
        <div>
            <h1>Education</h1>
        </div>
        <div class="mt-3 col border  border-secondary rounded-circle  align-self-center bg-primary-subtle" style="height: 130px; width: 130px; ">
            <p class=" text-center py-2 my-5 ">
                <strong>2020</strong>
            </p>
        </div>
        
        <div class="d-flex justify-content-center" style="height: 50px;">
            <div class="vr"></div>
          </div>
        
        <div class=" mb-5 col p-3 border  border-secondary  bg-primary-subtle" style="height: auto; width: auto;" >
            <p>
                University College of Engineering, Arni(Anna University) <br>
                Tiruvannamalai, Tamilnadu. <br>
                B.E., - Computer Science and Engineering <br>
                6.33 CGPA
            </p>            
        </div>

        <div class="col border  border-secondary rounded-circle  align-self-center bg-primary-subtle" style="height: 130px; width: 130px; ">
            <p class=" text-center py-2 my-5 ">
                <strong>2016</strong>
            </p>
        </div>
        
        <div class="d-flex justify-content-center" style="height: 50px">
            <div class="vr"></div>
          </div>
        
        <div class="mb-5 col p-3 border  border-secondary  bg-primary-subtle" style="height: auto; width: auto;" >
            <p class="pe-5" >
                K.C.Sankaralinga Nadar Hr. Sec. School <br>
                Chennai, Tamilnadu. <br>
                H.S.L.C., <br>
                84.9%
            </p>           
        </div>

        <div class="col border  border-secondary rounded-circle  align-self-center bg-primary-subtle" style="height: 130px; width: 130px; ">
            <p class=" text-center py-2 my-5 ">
                <strong>2014</strong>
            </p>
        </div>
        
        <div class="d-flex justify-content-center" style="height: 50px">
            <div class="vr"></div>
          </div>
        
        <div class=" mb-5 col p-3 border  border-secondary  bg-primary-subtle" style="height: auto; width: auto;" >
            <p class="me-5 pe-5 ">
                Kamaraj Matriculation Hr. Sec. School <br>
                Chennai, Tamilnadu. <br>
                S.S.L.C., <br>
                90%
            </p>           
        </div>
    </div>
</div>



<script>
    let a = document.getElementById("btnradio4");
        a.checked = true;
</script>
{% endblock %}