{% extends 'base.html' %} 
{% load static %}


{% block body %}
<div class="container-fluid pt-4 me-5">
  <h1>Education </h1>
    <div class="col-sm-8 offset-sm-1 pe-5 ">
        <div class="d-flex flex-row my-5 py-5" style="height:auto;width:auto;">
            <div class="col-sm-2 border  border-secondary rounded-circle  align-self-center bg-primary-subtle" style="height: auto; width: 130px; ">
            <p class=" text-center py-2 my-5 ">
                <strong>2020</strong></p>
            </div>

            <div class="col-sm-4 align-self-center">
                <hr >
            </div>

            <div class="col-sm-5 p-3 border  border-secondary align-self-center bg-primary-subtle" style="height: auto; width: auto;" >
                <p>
                    University College of Engineering, Arni(Anna University) <br>
                    Tiruvannamalai, Tamilnadu. <br>
                    B.E., - Computer Science and Engineering <br>
                    6.33 CGPA
                </p>
                

            </div>
        </div>

        <div class="d-flex flex-row my-5 py-5" style="height:auto;width:auto;">

            <div class="col-sm-5 p-3 pe-5   border  border-secondary align-self-center bg-primary-subtle" style="height: auto; width: auto;" >
                <p class="pe-4" >
                    K.C.Sankaralinga Nadar Hr. Sec. School <br>
                    Chennai, Tamilnadu. <br>
                    H.S.L.C., <br>
                    84.9%
                </p>
            </div>
            
            <div class="col-sm-5 align-self-center">
                <hr >
            </div>

            <div class="col-sm-2 border  border-secondary rounded-circle  align-self-center bg-primary-subtle" style="height: auto; width: 130px;">
                <p class=" text-center py-2 my-5 ">
                    <strong>2016</strong></p>
            </div>

        </div>

        <div class="d-flex flex-row my-5 py-5" style="height:auto;width:auto;">
            <div class="col-sm-2 border  border-secondary rounded-circle  align-self-center bg-primary-subtle" style="height: auto; width: 130px;">
            <p class=" text-center py-2 my-5 ">
                <strong>2014</strong> </p>
            </div>

            <div class="col-sm-4 align-self-center">
                <hr >
            </div>

            <div class="col-sm-5 border p-3  pe-5  border-secondary align-self-center bg-primary-subtle" style="height: auto; width: auto;" >
                <p class="me-5 pe-5 ">
                Kamaraj Matriculation Hr. Sec. School <br>
                Chennai, Tamilnadu. <br>
                S.S.L.C., <br>
                90%
                </p>

            </div>
        </div>

    </div>
</div>

<script>
    let a = document.getElementById("btnradio4");
        a.checked = true;
</script>
{% endblock %}