{% extends 'base.html' %} 
 {% load static %}
 {% block head %}
    <style>
        #summary::first-letter{
            font-size: 55px;
            float: left;
            margin-right: 3px;
            
        }
        @media (max-width: 660px){
            .shadow{
                min-height: 400px;
                 min-width: 300px;

            }
        }
        @media (max-width: 720px){
        #summary{
                display: grid;
                
            }
        }
    </style>
{% endblock %}

 {% block body %}
 
 

    <div class="container-fluid ">
        <h1 class=" col-9 pt-4 mb-2" >About Me</h1>
        <div class="row">
            <div class="  col-3 mx-5 ">
                <img src="{% static 'images/my-pic.jpg' %}" class="rounded mb-3 shadow img-fluid" height="400px" width="350px"  alt="#">
                
            </div>
            <div class="  col-md-5 col-8 text-left" id="summary" style="font-size: 20px; height: auto; min-height: auto; min-width: 300px; text-align:start"> 
                <code style="color: #4c6cbe;"> Dynamic Full Stack Web Development Intern with a strong foundation in HTML, CSS, JavaScript, Python, Django, and React.js. Proven ability to develop responsive and user-friendly web applications while collaborating effectively with cross-functional teams. Demonstrated expertise in integrating frontend and backend components, implementing RESTful APIs, and conducting thorough testing and debugging. Committed to delivering high-quality code and adhering to coding standards. Seeking opportunities to apply and enhance skills in a professional web development environment.
                </code>
                <br>
                <a href="{% static 'images/Ajithkandhan Resume Jul-8 STD.pdf' %}" target="_blank">  
                    <button type="button" class="btn btn-outline-secondary mt-2" id="res_btn">View Resume</button>
                </a>
            </div>
        </div>  
    </div>   
 



 {% endblock %}