{% extends 'base.html' %} 
{% load static %}

{% block head %}
<style>
    @media(max-width: 570px){
        #hard{
            margin: auto;
        }
        #soft{
            align-content: flex-start;
            margin-left: 0%;
        }


    }
</style>
{% endblock%}

{% block body %}

<h1 class="py-4 ps-3 ">Skills </h1>

<div class="container-fluid col-sm-11 d-sm-flex justify-content-sm-center  ">
    <div class="row row-cols-3">
        <!-- col-1 -->
        <div class=" col-5 me-5 ">
            <div style="height: auto; width: auto;" class="border border-2 bg-primary-subtle text-center p-1"><strong>Soft Skills</strong> </div>
        </div>
        <!-- col-2 -->
        <div class=" col-5 ">
            <div style="height: auto; width: auto;" class=" p-1 border border-2 bg-primary-subtle text-center"><strong>Hard Skills</strong> </div>
        </div>
        <!-- col-3 -->
        <div class=" col-5 me-5 ms-n1 position-relative  " style="min-height: 110px;" id="soft">
            <div class=" col-3  ">
                <div class=" position-absolute top-50 start-50 translate-middle border border-dark border-1 bg-primary-subtle rounded-circle  " style="height: auto; width: 120px; ">
                    <img src="{% static 'images\creative.png' %}" class="img-fluid " height="110px" width="110px" alt="#">
                </div>
            </div>
        </div>
        <!-- col-4 -->
        <div class=" col-5 position-relative  " id="hard">
            <div class=" col-4 offset-4 ps-2">
                <div class=" position-absolute top-50 start-50 translate-middle border border-dark border-1 bg-primary-subtle rounded-circle " style="height: auto; width: 120px;">
                    <img src="{% static 'images\hardskill.png' %}" class="img-fluid ms-1" height="110px" width="110px" alt="#">
                </div>
            </div>
        </div>
        <!-- col-5 -->
        <div class=" col-5 mb-5 me-5">
            <div style="height:auto; width: auto; text-overflow: ellipsis; " class="border border-2 bg-primary-subtle text-left  ps-1  overflow-x-auto text-nowrap p-sm-3 ">
                <ul>
                    <li>Adaptability</li>
                    <br>
                    <li>Team Work</li><br>
                    <li>Organization</li><br>
                    <li>Problem Solving</li><br>
                    <li>Work Ethic</li><br>
                    <li>Time Management</li><br>
                    <li>Interpersonal Skills</li><br>
                    <li>Creativity</li><br>
                    <li>Multitasking</li><br>
                    <li>Decision-making</li><br>
                    <li>Openness to criticism</li><br>
                    <li>Stress management</li>

                </ul>
            </div>
        </div>
        <!-- col-6 -->
        <div class=" col-5 ">
            <div style="height:auto; width: auto; text-overflow: ellipsis;  " class="border border-2 bg-primary-subtle text-left  ps-2 p-sm-3 overflow-x-auto text-nowrap">
                <ul>
                    <li>HTML</li><br>
                    <li>CSS</li><br>
                    <li>Bootstrap</li><br>
                    <li>JavaScript</li><br>
                    <li>jQuery</li><br>
                    <li>React.js</li><br>
                    <li>SQL</li><br>
                    <li>Postgres</li><br>
                    <li>RESTful APIs</li><br>
                    <li>Python</li><br>
                    <li>Django</li><br>
                    <li>WordPress</li>

                </ul>
            </div>
        </div>

        <!-- col-7 -->
        <div class=" col-5 offset-3 bg-primary-subtle mb-5  py-3 ps-3 overflow-x-auto text-nowrap">
            <div style="height: auto; width: 100%; text-overflow: ellipsis;" >
                <strong>Languages Known</strong> 
                <ul class="mt-2">
                    <li>Tamil (Native)</li><br>
                    <li>English (Professional Working Proficiency)</li><br>
                    <li>Deutsch (Elementary Proficiency)</li>
                </ul>
            </div>
        </div>
</div>



<script>
    let a = document.getElementById("btnradio5");
        a.checked = true;
</script>
{% endblock %}